div.input-field {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-message {
    color: red;
}

.my-icon {
    width: 35px;
    height: 35px;
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

body{
    background-size: cover;
    min-height: 1000px;
}

#login-button{
    margin-top: 30px;
    width: 100%;
}

.delete-link{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.btn-large{
    margin-left: 10px;
    margin-right: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

