div.input-field {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-message {
    color: red;
}

.my-icon {
    width: 35px;
    height: 35px;
}

.calendar {
    margin-right: 5px;
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

body {
    background-size: cover;
    min-height: 1000px;
}

#login-button {
    margin-top: 30px;
    width: 100%;
}

.delete-link {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.user-account {
    color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
}

.btn-large {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrench-icon {
    font-size: 40px;
}

.order-title {
    font-weight: bold;
}


#progress-sheet {
    width: 50%;
    height: 100%;
}

#progress-textarea {
    width: 100%;
    height: 500px;
    font-size: 20px;
}

.cancel-sheet {
    width: 100%;
    height: 100%;
}

.cancel-textarea {
    width: 100%;
    height: 350px;
    font-size: 20px;
}

#add-part-form {
    margin-bottom: 15px;
}

#parts-collection {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.order-details {
    border: gray groove 4px;
    font-size: 18px;
    background-color: white;
}

.order-details-icons {
    font-size: 40px;
}

.order-details-section {
    border: 2px;
    border-top-style: groove;
}

.order-section-title {
    font-weight: bold;
    font-size: 25px;
}

.invoice-position {
    float: left;
    clear: column;
    display: inline;
    margin-bottom: 15px;
}

.delete-button-position {
    float: left;
    clear: column;
    display: inline;
    margin-right: 25px;
    margin-bottom: 50px;
}


.disabled {
    font-weight: bold;
    color: black !important;
    border-bottom: 1px solid gainsboro !important;
}

.disabled-textarea {
    color: black !important;
    border-bottom: 1px solid gainsboro !important;
}

.param-not-set {
    font-style: italic !important;
}

.order-link {
    font-size: 20px;
}

.delete-bin {
    font-size: 35px;
}

.search-icon {
    font-size: 50px;
    margin-left: 20px;
    color: green
}
