div.input-field {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-message {
    color: red;
}

.my-icon {
    width: 35px;
    height: 35px;
}

.calendar {
    margin-right: 5px;
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

body {
    background-size: cover;
    min-height: 1000px;
}

#login-button {
    margin-top: 30px;
    width: 100%;
}

.delete-link {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.btn-large {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrench-icon {
    font-size: 40px;
}

.order-title {
    font-weight: bold;
}


#progress-sheet {
    width: 50%;
    height: 100%;
}

#progress-textarea {
    width: 100%;
    height: 500px;
    font-size: 20px;
}

#cancel-sheet {
    width: 100%;
    height: 100%;
}

#cancel-textarea {
    width: 100%;
    height: 350px;
    font-size: 20px;
}

#add-part-form {
    margin-bottom: 15px;
}

#parts-collection {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.order-details {
    border-style: groove;
    font-size: 18px;
    background-color: white;
}

.order-details-icons{
    font-size: 40px;
}

.order-details-section{
    border-top-style: groove;
}

.order-section-title{
    font-weight: bold;
    font-size: 25px;
}

.invoice-position {
    float:left; /* disable the float */
    clear: column;
    display: inline; /* make blocks inline-block */
    margin-right: 15px;
}